<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>@genoahealthcare.com</string>
		<key>shortcut</key>
		<string>@gh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>@genoatelepsychiatry.com</string>
		<key>shortcut</key>
		<string>@gt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>1211 Vine St. Apt. 908</string>
		<key>shortcut</key>
		<string>1211</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>6908 Cole Ct. </string>
		<key>shortcut</key>
		<string>6908</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>about</string>
		<key>shortcut</key>
		<string>abt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Alcalá</string>
		<key>shortcut</key>
		<string>Alcala</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>aww</string>
		<key>shortcut</key>
		<string>aww</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>bitch</string>
		<key>shortcut</key>
		<string>bitch</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Be right there. </string>
		<key>shortcut</key>
		<string>brt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Cheesman</string>
		<key>shortcut</key>
		<string>Cheesman</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Cobián</string>
		<key>shortcut</key>
		<string>Cobian</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>darlin'</string>
		<key>shortcut</key>
		<string>darlin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>download</string>
		<key>shortcut</key>
		<string>dl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fucking</string>
		<key>shortcut</key>
		<string>ducking</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>en route </string>
		<key>shortcut</key>
		<string>enroute</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>East Village</string>
		<key>shortcut</key>
		<string>ev</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>for</string>
		<key>shortcut</key>
		<string>fir</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fuck</string>
		<key>shortcut</key>
		<string>fuck</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>fucking</string>
		<key>shortcut</key>
		<string>fucking</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Genoa Telepsychiatry</string>
		<key>shortcut</key>
		<string>gentel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>genoatelepsychiatry</string>
		<key>shortcut</key>
		<string>gtel</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>gurl</string>
		<key>shortcut</key>
		<string>gurl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Hey. Hows it going? </string>
		<key>shortcut</key>
		<string>hhg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>https://cal.mixmax.com/justinjacoby/cal_avail</string>
		<key>shortcut</key>
		<string>jcal</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>720.771.0730</string>
		<key>shortcut</key>
		<string>jcell</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>001428747</string>
		<key>shortcut</key>
		<string>jempno</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jjacoby@genoahealthcare.com</string>
		<key>shortcut</key>
		<string>jgh</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>jjacoby@genoatelepsychiatry.com</string>
		<key>shortcut</key>
		<string>jgt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>185 Avenue B Apt 3H</string>
		<key>shortcut</key>
		<string>jhome</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justinjacoby2@gmail.com</string>
		<key>shortcut</key>
		<string>jj2</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justinjacoby6@gmail.com</string>
		<key>shortcut</key>
		<string>jj6</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Justin Jacoby</string>
		<key>shortcut</key>
		<string>jjac</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justin.jacoby@gmail.com</string>
		<key>shortcut</key>
		<string>jjgmail</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justinjacoby@icloud.com</string>
		<key>shortcut</key>
		<string>jji</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Justin</string>
		<key>shortcut</key>
		<string>jjj</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justinjacoby@mac.com</string>
		<key>shortcut</key>
		<string>jjm</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justinjacoby@outlook.com</string>
		<key>shortcut</key>
		<string>jjo</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justinjacoby2+shop@gmail.com</string>
		<key>shortcut</key>
		<string>jjspam</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>https://www.linkedin.com/in/justinjacoby</string>
		<key>shortcut</key>
		<string>jlinkedin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>justinjacoby@mac.com</string>
		<key>shortcut</key>
		<string>jmac</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>— Justin</string>
		<key>shortcut</key>
		<string>jsig</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>185 Avenue B</string>
		<key>shortcut</key>
		<string>jstreet</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>646.844.2292</string>
		<key>shortcut</key>
		<string>jwork</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> https://GenoaHealthcare.zoom.us/j/8302696875</string>
		<key>shortcut</key>
		<string>jzoom</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>LOL</string>
		<key>shortcut</key>
		<string>lol</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>mornin'</string>
		<key>shortcut</key>
		<string>mornin</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>NYC</string>
		<key>shortcut</key>
		<string>nyc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>On my way. </string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>patient</string>
		<key>shortcut</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>shit</string>
		<key>shortcut</key>
		<string>shit</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>sup</string>
		<key>shortcut</key>
		<string>sup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>today #Genoa </string>
		<key>shortcut</key>
		<string>tdg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>today #Personal </string>
		<key>shortcut</key>
		<string>tdp</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>UHG</string>
		<key>shortcut</key>
		<string>uhg</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ya</string>
		<key>shortcut</key>
		<string>ya</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>y'all</string>
		<key>shortcut</key>
		<string>yall</string>
	</dict>
</array>
</plist>
